{% extends "base.html" %}


{% block content %}
<div class="container">

    <div class="row">

        <div class="col-lg-9">

            <div class="user-info mt-4 p-3">
                <div class="row">
                    <div class="col-2">
                        {% if user.avatar %}
                        <div class="avatar mt-4">
                            <img class="avatar-img" src="{{user.avatar.url}}" alt="avatar">
                        </div>
                        {% else %}
                        <div class="avatar mt-4">
                            <img class="avatar-img" src="\static\img\149071.png" alt="avatar">
                        </div>
                        {% endif %}
                        <b>{{ user.username }}</b>
                    </div>

                    <div class="col">
                        <b>{{user.first_name}} {{user.last_name}}</b><br>
                        Дата регистрации: {{user.date_joined}}
                    </div>
                </div>
            </div>

            <div class="fav-my-ad mt-3 p-3">
                <p>
                    <b>Избранные объявления</b>
                    {% if favorites_ad %}<ul class="list-group">
                        <ul class="list-group">
                            {% for ad in favorites_ad %}                                
                                <li class="list-group-item">
                                    <a href="{{ ad.advert.get_absolute_url }}">{{ ad.advert.brand }} {{ ad.advert.model }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>Пока нет избранных объявлений</p>
                    {% endif %}
                </p>
    
                <p>
                    <b>Мои объявления</b>                      
                    {% if user_ad %}
                        <ul class="list-group">
                            {% for ad in user_ad %}
                                <li class="list-group-item">
                                    <a href="{{ ad.get_absolute_url }}">{{ ad.brand }} {{ ad.model }}</a>
                                    <a href="{% url "adverts:advert_update" slug=ad.slug %}" class="btn btn-success btn-sm">Редактировать</a>
                                    <a href="{% url "adverts:advert_delete" slug=ad.slug %}" class="btn btn-danger btn-sm">Удалить</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <p>У вас пока нет объявлений</p>
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="col-lg-3 mt-3">
            <form class="user-form mt-2 p-3" action="{% url "users:profile" %}" method="post" enctype="multipart/form-data"> 
                {% csrf_token %} 
                <p><b>Изменить личные данные</b></p>          
                <label for="id_first_name" class="form-label">Имя:</label>
                <input
                    type="text"
                    name="first_name"
                    class="form-control"
                    id="id_first_name"
                    value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}"
                    placeholder="Введите ваше имя пользователя"
                    >
                    {% if form.username.errors %}
                    <div class="alert alert-danger alert-dismissble fade show">{{ form.username.errors }}</div>
                    {% endif %}
                <label for="id_last_name" class="form-label">Фамилия:</label>
                <input
                    type="text"
                    name="last_name"
                    class="form-control"
                    id="id_last_name"
                    value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}"
                    placeholder="Введите вашу фамилию"
                    >
                    {% if form.last_name.errors %}
                    <div class="alert alert-danger alert-dismissble fade show">{{ form.last_name.errors }}</div>
                    {% endif %}
                <label for="id_email" class="form-label">Email:</label>
                <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="id_email"
                    value="{% if form.email.value %}{{form.email.value}}{% endif %}"
                    placeholder="Введите ваш email"
                    >
                    {% if form.email.errors %}
                    <div class="alert alert-danger alert-dismissble fade show">{{ form.email.errors }}</div>
                    {% endif %}
                <label for="id_phone_number" class="form-label">Номер телефона:</label>
                <input
                    type="text"
                    name="phone_number"
                    class="form-control"
                    id="id_phone_number"
                    value="{% if form.phone_number.value %}{{form.phone_number.value}}{% endif %}"
                    placeholder="Ваш номер телефона"
                    >
                    {% if form.phone_number.errors %}
                    <div class="alert alert-danger alert-dismissble fade show">{{ form.phone_number.errors }}</div>
                    {% endif %}
                <label for="id_avatar" class="form-label">Фото профиля</label>
                <input
                    type="file"
                    name="avatar"
                    id="id_avatar"
                    accept="image/*"
                    class="form-control"
                    id="id_avatar">
                    {% if form.avatar.errors %}
                    <div class="alert alert-danger alert-dismissble fade show">{{ form.avatar.errors }}</div>
                    {% endif %}

                    <br>
                    <button type="submit" class="btn btn-primary">Изменить данные профиля</button>
            </form>

            <hr>
            <a href="{% url "users:password_change" %}" class="btn btn-success btn-sm">Сменить пароль</a>
        </div>














        {% comment %} <div class="col">
            {% if user.avatar %}
            <div class="avatar mt-4">
                <img class="avatar-img" src="{{user.avatar.url}}" alt="avatar">
            </div>
            {% else %}
            <div class="avatar mt-4">
                <img class="avatar-img" src="\static\img\149071.png" alt="avatar">
            </div>
            {% endif %}
            Дата регистрации: {{user.date_joined}}<br>
            <b>{{user.first_name}} {{user.last_name}}</b>
        </div>

        <div class="col-2">
        </div>
        
        <div class="col mt-4">
            <div class="fav-my-ad">
    
                <p>
                    <b>Избранные объявления</b>
                    {% if favorites_ad %}
                        {% for ad in favorites_ad %}
                            <p><a href="{{ ad.advert.get_absolute_url }}">{{ ad.advert.brand }} {{ ad.advert.model }}</a></p>
                        {% endfor %}
                    {% else %}
                        <p>Пока нет избранных объявлений</p>
                    {% endif %}
                </p>
    
                <p>
                    <b>Мои объявления</b>
                    {% if user_ad %}
                        {% for ad in user_ad %}
                            <p><a href="{{ ad.get_absolute_url }}">{{ ad.brand }} {{ ad.model }}</a></p>
                        {% endfor %}
                    {% else %}
                    <p>У вас пока нет объявлений</p>
                    {% endif %}
                </p>
            </div>
        </div>
        
    </div>



    <div class="row">
        <div class="col-lg-3">
            <form class="user-form p-3" action="{% url "users:profile" %}" method="post" enctype="multipart/form-data"> 
                {% csrf_token %} 
                <p><b>Изменить личные данные</b></p>          
                <label for="id_first_name" class="form-label">Имя:</label>
                <input
                    type="text"
                    name="first_name"
                    class="form-control"
                    id="id_first_name"
                    value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}"
                    placeholder="Введите ваше имя пользователя"
                    >
                    {% if form.username.errors %}
                    <div class="alert alert-danger alert-dismissble fade show">{{ form.username.errors }}</div>
                    {% endif %}
                <label for="id_last_name" class="form-label">Фамилия:</label>
                <input
                    type="text"
                    name="last_name"
                    class="form-control"
                    id="id_last_name"
                    value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}"
                    placeholder="Введите вашу фамилию"
                    >
                    {% if form.last_name.errors %}
                    <div class="alert alert-danger alert-dismissble fade show">{{ form.last_name.errors }}</div>
                    {% endif %}
                <label for="id_email" class="form-label">Email:</label>
                <input
                    type="email"
                    name="email"
                    class="form-control"
                    id="id_email"
                    value="{% if form.email.value %}{{form.email.value}}{% endif %}"
                    placeholder="Введите ваш email"
                    >
                    {% if form.email.errors %}
                    <div class="alert alert-danger alert-dismissble fade show">{{ form.email.errors }}</div>
                    {% endif %}
                <label for="id_phone_number" class="form-label">Номер телефона:</label>
                <input
                    type="text"
                    name="phone_number"
                    class="form-control"
                    id="id_phone_number"
                    value="{% if form.phone_number.value %}{{form.phone_number.value}}{% endif %}"
                    placeholder="Ваш номер телефона"
                    >
                    {% if form.phone_number.errors %}
                    <div class="alert alert-danger alert-dismissble fade show">{{ form.phone_number.errors }}</div>
                    {% endif %}
                <label for="id_avatar" class="form-label">Фото профиля</label>
                <input
                    type="file"
                    name="avatar"
                    id="id_avatar"
                    accept="image/*"
                    class="form-control"
                    id="id_avatar">
                    {% if form.avatar.errors %}
                    <div class="alert alert-danger alert-dismissble fade show">{{ form.avatar.errors }}</div>
                    {% endif %}

                    <br>
                    <button type="submit" class="btn btn-primary">Изменить данные профиля</button>
            </form>

            <hr>
            <a href="{% url "users:password_change" %}">Сменить пароль</a>
        </div> {% endcomment %}
    </div> 
</div>


{% endblock content %}