{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="{% static 'styles/my_css.css' %}" />
    <title>{{ title }}</title>
  </head>

  <body>
    <div class="container-fluid">
      <header>
        <!-- NAVBAR -->
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-active-color">
            <div class="container">
              <a class="navbar-brand" href="{% url 'index:index' %}">AutoPrice</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a href="{% url "adverts:adverts" %}" class="nav-link">Все объявления</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'adverts:create_advert' %}">Добавить объявление</a>
                  </li>
                  <li class="nav-item">
                    {% if not user.is_authenticated %}
                      <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                    {% endif %}
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ request.user.username }}</a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="{% url 'users:profile' %}">Профиль</a>
                      </li>
                      {% if user.is_admin or user.is_staff %}
                        <li>
                          <a class="dropdown-item" href="{% url 'admin:index' %}">Админ панель</a>
                        </li>
                      {% endif %}
                      <li>
                        <a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a>
                      </li>
                      <li>
                        <hr class="dropdown-divider" />
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'index:about' %}">О нас</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" action="{% url 'adverts:filters_advert' %}" role="search">
                  <input class="form-control me-2" name="q" type="search" placeholder="Что хотите найти?" aria-label="Search" />
                  <button class="btn btn-success" type="submit">Поиск</button>
                </form>
              </div>
            </div>
          </nav>
        </div>

        <!-- NAVBAR END -->
      </header>

      <section>
        {% block title_page %}
        {% endblock %}
        <div class="row">
          <div class="col-lg-2 mt-4">
            {% block small_filter %}{% endblock %}
          </div>
          <div class="col-lg-9">
            {% include 'includes/notifications.html' %}
            {% block content %}{% endblock %}
          </div>
        </div>
      </section>

      <div class="container">
        <div class="row mt-4 justify-content-center">
          <div class="col-6">
            {% block paginator %}
            {% endblock %}
          </div>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </div>
  </body>
</html>
