{% load static %}

{% comment %} Ошибки при регистрации {% endcomment %}
{% if form.non_field_errors %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger alert-dismissible fade show custom-shadow" role="alert">
                {{ form.non_field_errors}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% comment %} Сообщения на сайте {% endcomment %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success mt-4" role="alert">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}