{% block profile %}
<div class="col-lg-2 mt-4">
    <span>
        <h6>
            <span class="user-name">vitalii</span>
            <button type="button" class="btn btn-primary position-relative">
                Профиль
                <span
                    class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                    <span class="visually-hidden">Новые уведомления</span>
                </span>
            </button>
        </h6>

    </span>
</div>
{% endblock profile %}